body {
    background-color: #2a2a2a;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1d1d1d;
    padding: 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin-left: 4rem;
    margin-right: 2rem;
}


header button{
    all: unset;
    margin-left: 3rem;
    margin-right: -1rem;
}

body h1{
    display: flex;
    justify-content: center;
}

.header-info-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 15vh;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


.cine-list > .row{
    overflow-x: visible;
    flex-wrap: nowrap;
}

.search {
    border: 2px solid #2a2a2a;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.search:focus {
    outline: 0;
}

.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    background-color: #1d1d1d;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 1rem;
    width: 250px;
    position: relative;
    transition: transform 0.3s;
}

.movie img { 
    max-width: 100%;
    object-fit: cover;
    height: 400px;
}

.movie:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nota {
    background-color: #2a2a2a;
    border-radius: 5px;
    padding: 0.5rem;
}

.button {
    color: white;
}

.filters button{
    border: none;
    background-color: lightgray;
    margin-right: 0.5rem;
    padding: 5px 10px;
}

.filters button:focus{
    background-color: green;
}

.filters h3,button{
    display: inline-block;
}

.filters h3 {
    padding-left: 4rem;
    padding-right: 2rem;
}

.remove-button{
    display:flex;
    background: none;
    border:none;
}
.remove-button img{
    width: 2rem;
    height: 2rem;
    
}

.remove-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}