.header-info-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 5vh;
}

.cine-list > .row{
    overflow-x: visible;
    flex-wrap: nowrap;
}

.search {
    border: 2px solid #2a2a2a;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.search:focus {
    outline: 0;
}

.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filters button{
    border: none;
    background-color: lightgray;
    margin-right: 0.5rem;
    padding: 5px 10px;
}

.filters h3,button{
    display: inline-block;
}

.filters h3 {
    padding-left: 4rem;
    padding-right: 2rem;
}

.walkers{
    display: inline-block;
    text-align: center;
}

.logout {
    color: lightcoral;
}

.logout:hover {
    color: red;
}

.header-hover:hover {
    color: green;
}