.page-login *{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

.page-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-top: 4rem;
}

.form-login{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    
    top: 50%;
    left: 50%;
    margin-top: 5rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.form-login *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.font-login{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.label-login{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.input-login{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #e5e5e5;
}

.button-login{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.info-signup {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button-signup {
    all: unset;
    color: lightskyblue;
}
