.movie-poster img { 
    padding: 10px;
    max-width: 100%;
    object-fit: cover;
    height: 400px;
    margin-left: 50px;
}

.movie-title{
    display: flex;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
}