.movie {
    background-color: #1d1d1d;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 1rem;
    width: 250px;
    position: relative;
    transition: transform 0.3s;
}

.movie img { 
    max-width: 100%;
    object-fit: cover;
    height: 400px;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.nota {
    background-color: #2a2a2a;
    border-radius: 5px;
    padding: 0.5rem;
}