.movie-poster img { 
    padding: 10px;
    max-width: 100%;
    object-fit: cover;
    height: 550px;
    margin-left: 50px;
}

.movie-page {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
}

.movie-poster {
    text-align: center;
}

.movie-title {
    text-align: center;
}

.info h3{
    font-size: 18px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem
}